div .table-container {
  margin-top: 0.5rem;
  font-size: 1.2rem;
}

div .card-panel {
  height: 18rem;
}

.icon-block {
  padding: 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

.record {
  color: #606060;
  background-color: white;
}
